:root {
    --black: #363636;
    --white: #f5f5f5;
    --orange: #c35b26;
  }
  ::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: var(--black);
  }
  
  ::-webkit-scrollbar
  {
      width: 10px;
      background-color: var(--black);
  }
  
  ::-webkit-scrollbar-thumb
  {
      background-color:var(--orange);
      border: 2px solid var(--black);
  }
  select option:hover, select option:checked {
    box-shadow: 0 0 10px 100px #a85918 inset;
}
*,.datepicker .dropdown-content{
    border-radius: 0;
}
.dropdown-item .dropdown-horizonal-timepicker:focus{
    border: none;
}
body{
    background-color: var(--black);
   
}
a{
    color: var(--orange);
}
a:hover, a:active{
    color: black;
}
.hero .navbar {
    background: var(--black);
    box-shadow: 0 0 5px black;
}
button{
    all: unset;
}
.hero{
    height: 100vh;
    
}
.hero section{
    padding: 20px 0;
}
.hero.is-light,.hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active, .hero.is-light .navbar-link:hover, .hero.is-light .navbar-link.is-active,.hero-foot{
    background-color:var(--black);
    color: var(--white);
}
.hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active
.neu,.datepicker .content-horizonal-timepicker,.datepicker .datepicker-header{
   
    border: none;
}
.hero-body{
    background-color: var(--black);
  
}
.hero.is-light .navbar-item, .hero.is-light .navbar-link{
    color: var(--white);
    border: 2px solid var(--black);
    border-width: 0 0 2px 0;
}
.hero-body::before {    
    content: "";
    background: url(../img/cutlery.png);
    background-size: 95% 90%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:20px;
    right: 0px;
    bottom: 50px;
    width: 100%;
    height: 100%;
    left: 0px;
    opacity: 0.5;
}
.button{
    padding-left: 1em;
    padding-right: 1em;
}
.button.is-dark{
    border: 2px solid var(--orange);
    border-width: 0 0 2px 0;
   background-color: #242424;
    border-radius: 0;
}
.button.is-dark:hover,.button.is-dark:focus,.button.is-dark:active{
    border: 2px solid var(--orange);
    border-width: 0 0 2px 0;
    background-color: var(--black);
}
.is-primary,.hero.is-light .title,.hero.is-light .subtitle{
    color: var(--white);
}
h1.is-primary{
    font-size: 24px;
}
button.neu{
   
    padding: 10px 30%;
border: 2px solid var(--white);
}
.datepicker .datepicker-table{
    padding: 0;
    border: 2px solid var(--white);
}
.hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active, .hero.is-light .navbar-link:hover, .hero.is-light .navbar-link.is-active, .neu:hover{
    border: 2px solid var(--white);
   
}
.dropdown{
    display: flex;
    text-align: center;
}
.dropdown.dropdown-menu-animation .dropdown-menu{
    width: 100%;
}
.dropdown > div{
    width: 50%;
    margin: auto;
}
a.dropdown-item{
    all: unset;
    display: block;
}
.datepicker .dropdown-content{
    box-shadow: none;
}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected,.modal.is-full-screen > .animation-content, .modal.is-full-screen > .animation-content > .modal-card {
    background-color: var(--black);
    color: var(--white);
}
.modal-card-head, .modal-card-foot{
    padding: 10px 20px;
}
.select:not(.is-multiple):not(.is-loading)::after{
    border-color: var(--black);
}
.select select:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .input:focus, .select select.is-focused, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .is-focused.input, .select select:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .input:active, .select select.is-active, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .is-active.input{
   border-radius: 0;
    border: 2px solid var(--white);
    border-width: 0 0 2px 0;
}
.control{
    margin-left: 5px;
}
.hero.is-medium .hero-body{
    padding-top: 3em;
}
.modal-background{
    background-color: var(--black);
}
.modal-card-body{
    background-color: var(--black);
    color: var(--white);
}
.card{
    background-color: var(--black);
    box-shadow: 0px 0px 5px black;
    color: var(--white);
}
.image.is-4by3 {
    padding-top: 175px;
}
.image.is-square img, .image.is-square .has-ratio, .image.is-1by1 img, .image.is-1by1 .has-ratio, .image.is-5by4 img, .image.is-5by4 .has-ratio, .image.is-4by3 img, .image.is-4by3 .has-ratio, .image.is-3by2 img, .image.is-3by2 .has-ratio, .image.is-5by3 img, .image.is-5by3 .has-ratio, .image.is-16by9 img, .image.is-16by9 .has-ratio, .image.is-2by1 img, .image.is-2by1 .has-ratio, .image.is-3by1 img, .image.is-3by1 .has-ratio, .image.is-4by5 img, .image.is-4by5 .has-ratio, .image.is-3by4 img, .image.is-3by4 .has-ratio, .image.is-2by3 img, .image.is-2by3 .has-ratio, .image.is-3by5 img, .image.is-3by5 .has-ratio, .image.is-9by16 img, .image.is-9by16 .has-ratio, .image.is-1by2 img, .image.is-1by2 .has-ratio, .image.is-1by3 img, .image.is-1by3 .has-ratio{
    object-fit: cover;
}
.modal.is-active{
    padding: 20px;
}
.modal-card-head, .modal-card-foot{
    background-color: var(--black);
    border-color: var(--white);
}

.columns{
    max-width: 100%;
}
.delete{
    background-color: var(--orange);
}
.delete:hover, .delete:focus{
    background-color: var(--white);
    opacity: 0.8;
}
.text-left{
    text-align: left;
}
.datepicker .dropdown-content,.modal-close::before, .delete::before, .modal-close::after, .delete::after,.select select, .taginput .taginput-container.is-focusable, .textarea, .input{
    background-color: var(--black);
    color: var(--white);
}
.hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active{
    border-width: 0 0 2px 0;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: inherit;}
.field.has-addons .control:first-child:not(:only-child) .button, .field.has-addons .control:first-child:not(:only-child) .input, .field.has-addons .control:first-child:not(:only-child) .select select,.hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active,.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today,.select select, .taginput .taginput-container.is-focusable, .textarea, .input,.datepicker .datepicker-table{
    border-color: var(--orange);
    border-radius: 0;
    border-width: 0 0 2px 0;
   
}
.modal-card-head, .modal-card-foot{
    border: none;
}
.select select:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .input:focus, .select select.is-focused, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .is-focused.input, .select select:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .input:active, .select select.is-active, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .is-active.input{
    box-shadow: 0 0 0 0.125em rgba(195,91,38, 0.25);
}

::-webkit-search-cancel-button{
    opacity: 0;
    position: relative;
    z-index: 6;
}
.control.has-icons-right .input, .control.has-icons-right .select select{
    padding-right: 10px;
}
.control.has-icons-left .input:focus ~ .icon, .control.has-icons-left .select:focus ~ .icon, .control.has-icons-right .input:focus ~ .icon, .control.has-icons-right .select:focus ~ .icon {
    color: #dbdbdb;
}


@media screen and (max-width:560px){
    .hero-body::before{
        background-size: 300%;
    background-position: left;
    opacity: 0.5;
    }
}